/node_modules
/vendor
/.git
/.gitattributes
/.gitignore
/.env
/.env.example
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
*.log
*.md
/tests
/.phpunit.result.cache
/phpunit.xml
/.idea
/.vscode
